@mixin mobile {
    @media screen and (max-width:480px) {
        @content
    }
}

@mixin tablet {
    @media screen and (max-width:768px) {
        @content
    }
}

@mixin laptop {
    @media screen and (max-width:1200px) {
        @content
    }
}


body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.formContainer {
    background: linear-gradient(to bottom right, #636eaee7, #578cabcf);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: white;
        padding: 20px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 10px;

        .logo {
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #5d5b8d;
            font-weight: medium;
            font-size: 15px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        input {
            padding: 15px;
            border: none;
            outline: none;
            width: 250px;
            border-bottom: 1px solid #a7bcff;

            &::placeholder {
                color: rgb(175, 175, 175);
            }
        }

        button {
            background-color: #4b68c7;
            color: white;
            cursor: pointer;
            font-weight: bold;
            padding: 10px;
            border: none;
            border-radius: 5px;

            &:hover {
                scale: 102%;
            }

            transition: 0.2s;
        }

        label {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #8da4f1;
            font-size: 12px;
            cursor: pointer;

            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    p {
        color: #5d5b8d;
        font-size: 12px;
        margin-top: 10px;
        text-decoration: none;
    }

    a {
        color: #5d5b8d;
        text-decoration: none;

        &:hover {
            scale: 102%;
            color: rgb(197, 33, 4);
        }

        transition: 0.2s;
    }

}

.home {
    background: linear-gradient(to bottom right, #636eaee7, #578cabcf);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        @include tablet {
            width: 90%;
        }

        .sidebar {
            flex: 1;
            background-color: #3e3c61;
            position: relative;

            .navbar {
                height: 50px;
                background-color: #2f2d52;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: whitesmoke;
                border-right: 1px solid whitesmoke;

                .logo {
                    font-weight: bold;

                    @include tablet {
                        display: none;
                    }

                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background-color: whitesmoke;
                        object-fit: cover;
                    }

                    button {
                        background-color: #5d5b8d;
                        color: whitesmoke;
                        font-size: 12px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        height: 20px;

                        @include tablet {
                            position: absolute;
                            bottom: 10px;
                        }

                        &:hover {
                            scale: 105%;
                            background-color: rgb(197, 33, 4);
                        }

                        transition: 0.2s;
                    }

                    span {
                        align-items: center;
                    }
                }
            }

            .search {
                border-bottom: 1px solid gray;

                .searchForm {
                    display: flex;
                    gap: 10px;
                    padding: 10px 20px;
                    color: whitesmoke;

                    input {
                        background-color: transparent;
                        color: white;
                        border: none;
                        outline: none;

                        &::placeholder {
                            color: lightgray;
                        }
                    }
                }

                .searchList {

                    padding: 10px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    gap: 10px;
                    color: white;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

            }

            .chatList {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;


                &:hover {
                    background-color: #2f2d52;
                }

                .userChat {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: white;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .userChatInfo {
                        span {
                            font-size: 18px;
                            font-weight: 500;
                        }

                        p {
                            font-size: 12px;
                            color: lightgray;
                            margin: 5px 0px;
                        }
                    }


                }

                .lastMessage {
                    font-size: 10px;
                    color: whitesmoke;
                    padding: 10px 15px;
                    margin-top: 15px;
                }


            }
        }

        .chat {
            flex: 2;

            .chatInfo {
                background-color: #2f2d52;
                display: flex;
                align-items: center;
                height: 50px;
                justify-content: space-between;
                color: lightgray;
                padding: 10px;
            }

            .chatIcons {
                display: flex;
                gap: 15px;

                img {
                    height: 24px;
                    cursor: pointer;

                }


            }

            .messageList {
                background-image: url("./assets/pxfuel.jpg");
                background-size: cover;
                background-position: center;
                padding: 10px;
                height: calc(100% - 160px);
                overflow-y: scroll;
                padding: 10px 20px;
                align-items: center;



                .groupMessage {
                    width: 100%;
                    max-width: 600px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;


                    h2 {
                        align-items: center;
                        margin: auto;
                        font-size: 12px;
                        font-weight: bold;
                        color: #2f2d52;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        border-bottom: 1px dotted #2f2d52;
                        padding-bottom: 5px;
                        text-align: center;
                        width: 50%;
                    }
                }


                .message {
                    display: flex;
                    gap: 10px;


                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        align-items: center;

                        img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        span {
                            font-size: 10px;
                        }
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;

                        p {
                            background-color: white;
                            padding: 5px 10px;
                            margin-bottom: 5px;
                            margin-top: 5px;
                            border-radius: 0px 20px 20px 20px;
                            max-width: max-content;
                            font-size: 14px;
                        }

                        img {
                            width: 50%;

                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;

                            p {
                                background-color: #2f2d52;
                                color: white;
                                border-radius: 20px 0px 20px 20px;
                            }



                        }

                    }
                }
            }


            /* Custom scrollbar styles */
            .messageList::-webkit-scrollbar {
                width: 5px;
            }

            .messageList::-webkit-scrollbar-thumb {
                background-color: #5d5b8d;
                border-radius: 5px;
            }

            .messageList::-webkit-scrollbar-track {
                background-color: rgb(215, 215, 194);
            }


            .input {
                background-color: white;
                height: 50px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-shadow: 0 0 4px rgba(47, 45, 82, 0.2);
                /* Adjust shadow values as needed */


                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #2f2d52;
                    font-size: 14px;

                    &::placeholder {
                        color: slategrey;
                        font-size: 14px;
                        font-style: italic;
                    }
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    // img {
                    //     height: 30px;
                    //     cursor: pointer;
                    //     transition: 0.2s;

                    //     &:hover {
                    //         scale: 105%;
                    //     }
                    // }

                    svg {
                        height: 26px;
                        width: 26px;
                        transition: 0.2s;
                        stroke: #2f2d52;
                        fill: none;
                        outline: none;
                        margin: auto;

                        &:hover {
                            scale: 105%;
                            fill: #a7bcff;

                        }
                    }

                    .SendSVG {

                        &:hover {
                            scale: 105%;
                            fill: #a7bcff;

                        }

                    }

                }
            }
        }


    }
}